.home{
    display: flex;
    flex-direction: row;
    position: absolute;
    left:700px;
}

.chatbot{
    display: flex;
    flex-direction: row;
    position: absolute;
    left:900px;
}

