.react-switch{
    margin-left: 950px;
    margin-top:20px;
}

.chart{
    margin-left: 300px; 
    height: 190% 
}

.boxPlot{
    margin-left: 300px; 
    height: 1000px;
    width: 1600px;
    position: fixed;
    top:320px;
}
.displayText{
    font-size: larger;
    margin-left: 900px;
    margin-right:600px;
    margin-top: 20px;
}
.form{
    display: flex;
    top:500px;
}
.attribute{
    flex:1;
    font-size:x-large;
    
}
.graphselect{
    flex:1;
    font-size: x-large;
    
}

