.react-switch{
    margin-left: 950px;
    margin-top:20px;
}

.chart{
    margin-left: 300px; 
    height: 190% 
}

.displayText{
    font-size: larger;
    margin-left: 500px;
    margin-right:400px;
    margin-top: 20px;
}
.form{
    display: flex;
}
.attribute{
    flex:1;
    font-size:larger;
}
.graphselect{
    flex:1;
    font-size: larger;
}